/* Global style */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FigtreeExtraBold';
    src: url("/assets/fonts/static/Figtree-ExtraBold.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeSemiBold';
    src: url("/assets/fonts/static/Figtree-SemiBold.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeRegularFont';
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeItalicFont';
    src: url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format('truetype'), 
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Style of the blog card component */

.card-container {
    border-radius: 20px;
    box-shadow: 8px 8px #000;
    border-style: solid;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.img {
    border-radius: 10px;
}

.category {
    font-family: 'FigtreeExtraBold', sans-serif;
    border-radius: 4px;
    background-color: hsl(47, 88%, 63%);
    align-self: start;
    margin-top: 24px;
    padding: 4px 12px;
}

.publishdate {
    font-family: 'FigtreeRegularBold', sans-serif;
    font-weight: 500;
    margin-top: 12px;
}

.title {
    margin-top: 12px;
    font: 24px 'FigtreeExtraBold', sans-serif;
    font-weight: 800;
}

.title:hover {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
}

.description {
    color: var(--Grey, #7f7f7f);
    margin-top: 12px;
    font: 500 16px/24px 'FigtreeRegularFont', sans-serif;
}

.author-info {
    display: flex;
    margin-top: 24px;
    gap: 12px;
}

.userpic {
    width: 32px;
}

.authorname {
    font-family: 'FigtreeExtraBold', sans-serif;
    margin: auto 0;
}

@media (max-width: 410px) {
    .card-container {
        width: 17rem;
    }
}

@media (min-width: 411px) and (max-width: 800px) {
    .card-container {
        width: 20rem;
    }
}

@media (min-width: 801px) {
    .card-container {
        width: 24rem;
    }
}

/* Attribution */

.attribution {
    margin-top: 2rem;
    font-family: 'FigtreeItalicFont', sans-serif;
    font-size: 12px;
}