/* Global style */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FigtreeExtraBold';
    src: url("/assets/fonts/static/Figtree-ExtraBold.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeSemiBold';
    src: url("/assets/fonts/static/Figtree-SemiBold.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeRegularFont';
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeItalicFont';
    src: url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format('truetype'), 
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style of the blog card component */

.card-container {
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px #000;
    border-color: rgba(17, 17, 17, 1);
    border-style: solid;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    margin-top: 139px;
    width: 384px;
    max-width: 100%;
    flex-direction: column;
    padding: 24px;
}

.img {
    border-radius: 10px;
    aspect-ratio: 1.67;
    object-fit: auto;
    object-position: center;
    width: 100%;
}

.category {
    font-family: 'FigtreeExtraBold', sans-serif;
    justify-content: center;
    border-radius: 4px;
    background-color: hsl(47, 88%, 63%);
    align-self: start;
    margin-top: 24px;
    white-space: nowrap;
    padding: 4px 12px;
}

.publishdate {
    font-family: 'FigtreeRegularBold', sans-serif;
    font-weight: 500;
    margin-top: 12px;
}

.title {
    margin-top: 12px;
    font: 24px 'FigtreeExtraBold', sans-serif;
    font-weight: 800;
}

.title:hover {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
}

.description {
    color: var(--Grey, #7f7f7f);
    margin-top: 12px;
    font: 500 16px/24px 'FigtreeRegularFont', sans-serif;
}

.author-info {
    align-self: start;
    display: flex;
    margin-top: 24px;
    gap: 12px;
}

.userpic {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
    border-radius: 50%;
}

.authorname {
    font-family: 'FigtreeExtraBold', sans-serif;
    margin: auto 0;
}

/* Attribution */

.attribution {
    margin-top: 2rem;
    font-family: 'FigtreeItalicFont', sans-serif;
    font-size: 12px;
}