/* Global style */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FigtreeExtraBold';
    src: url("/assets/fonts/static/Figtree-ExtraBold.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeSemiBold';
    src: url("/assets/fonts/static/Figtree-SemiBold.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeRegularFont';
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf")
    format('truetype'), 
}

@font-face {
    font-family: 'FigtreeItalicFont';
    src: url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format('truetype'), 
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}
